body {
  margin: 0;
  font-family: arial, arial, sans-serif;
  background: linear-gradient(0deg, #1f1f1f, #414141 100%);
  height: 100vh;
  padding: 1em;
}
/*
header {
  background: pink;
  padding: -1%;
}
*/
/*********************************************/
/* position the whole slider and heading text*/
/*********************************************/
.SET {
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%, -50%);
}
/******************************************/
/* styles the text for the slider heading */
/******************************************/

#setText {
  color: white;
  padding: 0px;
  font-size: 17px;
}

/******************************************/
/* styles the text for the value ON-OFF  */
/*****************************************/
#value {
  color: white;
  left: 40%;
}

#AmPm {
  color: white;
  padding: 0px;
  font-size: 17px;
}

/***************************/
/* creats slider container */
/***************************/

input[type="checkbox"] {
  position: relative;
  width: 160px;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(0deg, #006900, #00bd00, #00ff00);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 2);
  cursor: pointer;
}
/***********************************/
/* changes colour beind the slider */
/***********************************/

input:checked[type="checkbox"] {
  background: linear-gradient(to right, red, green);
  transition: 2.5s;
}
/**********************/
/* creates the slider */
/**********************/

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  background: linear-gradient(0deg, rgb(0, 0, 0), #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.98);
  transition: 0.5s;
}
/*********************************/
/* slider end point when clicked */
/*********************************/

input:checked[type="checkbox"]::before {
  left: 60px;
}
/************************************************/
/* creates and positions the hole in the slider */
/************************************************/

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 60px;
  width: 8px;
  height: 8px;
  background: linear-gradient(0deg, #00ff00, #008800);
  border-radius: 50%;
  transition: 0.5s;
}
/*********************************************/
/* hole inslider when slider is to the right */
/*********************************************/

input:checked[type="checkbox"]::after {
  background: red;
  left: 130px;
  /*box-shadow: 0 0 15px red, 0 0 5px red;*/
  /*border-radius: 100%;*/
}

.checkbox:hover {
  cursor: grab;
}

/***********************************/
/* position the text for d.t.hours */
/***********************************/

#d-hours {
  color: white;
  position: absolute;
  top: 118%;
  left: -120%;
}
/**************************************/
/* position the whole AM hours slider */
/**************************************/
#d-minutes {
  color: white;
  position: absolute;
  top: 178%;
  left: -120%;
}
#d-temp {
  color: white;
  position: absolute;
  top: 235%;
  left: -120%;
}
#n-hours {
  color: white;
  position: absolute;
  top: 295%;
  left: -120%;
}
#n-minutes {
  color: white;
  position: absolute;
  top: 357%;
  left: -125%;
}
#n-temp {
  color: white;
  position: absolute;
  top: 410%;
  left: -115%;
}

.range-slider {
  top: 5%;
  max-width: 30em;
  margin: 4em auto;
  position: relative;
  display: flex;
}

.range-slider .slider {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 0.9em;
  outline: none;
  border-radius: 3px;
  background: #3f3f3f;
  box-shadow: 3px 3px 6px #000;
  inset: 1px 1px 1px #909090;
  cursor: pointer;
}

.range-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.7em;
  height: 1.7em;
  z-index: 3;
  position: relative;
  cursor: pointer;
}

.range-slider .slider-thumb {
  /*-webkit-appearance: none;*/
  position: absolute;
  width: 1.7em;
  height: 1.7em;
  /* background: #090909;*/
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: inset 30px 1px 2px #505050;
  /*cursor: pointer;
  /*font-size: 25px;*/
  /* color: cadetblue;*/
}

.range-slider .slider-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7em;
  height: 0.7em;
  background: #333;
  border-radius: inherit;
  transition: 0.3s;
}

.range-slider:hover.slider-thumb::after {
  background: #2ae9c9;
}

.range-slider .tooltip {
  position: absolute;
  width: 2.8em;
  height: 2em;
  top: -2em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #090909;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #1f1f1f, inset 0px 1px 2px #090909;
}

.range-slider .tooltip::before {
  content: "";
  position: absolute;
  width: 10;
  height: 0em;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #090909;
  bottom: -0.5em;
  left: 50%;
  /*transform: translate(-50%);*/
}
.range-slider .progress {
  width: 50%;
  height: 0.5em;
  border-radius: 20px;
  background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
}
.slider.value {
  left: 200;
}

@media screen and (max-width: 700px) {
  .neu-range-slider {
    width: 100%;
  }
}
ul a {
  color: aliceblue;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  padding-left: 22px;
  margin-right: 22px;
}
#heading {
  color: white;
}
